.dash {
	padding: 0;
}
.dash li{
	width: 33.3%;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	
}
.img{
	width: 100%;
	height: 200px;
	background-position: center;
	background-size: 100%;
}
.dash .card{
	padding: 15px;
}
.title{
	font-size: 1.5em;
}
.author{
	color: rgb(150, 0, 255);
	font-size: 1em;
	font-weight: 600;
}
.new{
	color: rgb(77, 77, 77);
	font-weight: 500;
}
.card a{
	color: rgb(168, 0, 255);
	font-weight: 600;
}